.PageLayout {
  width: 100%;
  min-height: calc(100vh - 2rem);
  background: none;

  font-size: 1.4rem;
}

.PageLayout__header {
  background: none;
  text-align: center;
}

.PageLayout__content {
  align-self: center;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PageLayout__footer {
  background: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}